[Unit]
Description = A sample web server with heavy function

[Service]
Type = simple
ExecStart = /usr/bin/python3 /opt/service.py
Restart = always
WorkingDirectory = /opt
User = www-data


[Install]
WantedBy = multi-user.target